<div class="container-fluid sections-data">
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <td [attr.colspan]="zones.length + 1">
            NIST-Access Policy Compliance Matrix
            <fa-icon [icon]="faEllipsisH" class="float-right"></fa-icon>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="split">
            <div>
              <span class="title bottom">Source</span>
              <span class="title top">Destination</span>
              <div class="line"></div>
            </div>
          </th>
          <th *ngFor="let z of zones">{{ z.name }}</th>
        </tr>
        <tr *ngFor="let z of zones">
          <td>
            <div>{{ z.name }}</div>
            <div>
              <fa-icon [icon]="faFileMedical"></fa-icon>
              {{ z.complianceLevel || 0 }}%
            </div>
          </td>
          <td *ngFor="let s of z.sections">
            <ng-container *ngIf="s">
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{ width: s.complianceLevel + '%' }" [attr.aria-valuenow]="s.complianceLevel" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{ width: s.incomplianceLevel + '%' }" [attr.aria-valuenow]="s.incomplianceLevel" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div>
                <fa-icon [icon]="faFileMedical" [fixedWidth]="true"></fa-icon>
                {{ s.complianceLevel }}%
              </div>
              <div>
                <fa-icon [icon]="faBiohazard" [fixedWidth]="true"></fa-icon>
                {{ s.violationsCount }}
              </div>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
